<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <b>Image</b>
  <div class="form-control", id="dropzone-area" style="width:825px;height:300px;"></div>

  <%= form.hidden_field :image_url ,:id=>"url_field" %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :body %>
    <%= form.text_area :body, class: "form-control" %>
  </div>

<!--   <div class="form-group">
    <%= form.label :genre %>
    <%= form.text_field :genre, class: "form-control", :autocomplete => "off" %>
  </div> -->

  <div class="form-group">
    <%= form.submit "Submit", class: "btn btn-lg btn-primary" %>
  </div>
  
<% end %>

<script type="text/javascript">
  var myDropzone = new Dropzone(document.getElementById('dropzone-area'), {
    uploadMultiple: false,
    acceptedFiles:'.jpg,.png,.jpeg,.gif,.webp',
    parallelUploads: 6,
    url: 'https://api.cloudinary.com/v1_1/du58rk7pc/image/upload'
  });
  myDropzone.on('sending', function (file, xhr, formData) {
    formData.append('api_key', 768762848513131);
    formData.append('timestamp', Date.now() / 1000 | 0);
    formData.append('upload_preset', 'project_preset');
  });
  myDropzone.on('success', function (file, response) {
  console.log('Success! Cloudinary public ID is', response.url);
  var my_url= response.url
   $(document).ready(function(){
        $("#url_field").val(my_url);
   });
  });
  </script>