<% @posts.each do |post| %>
<div class="post row clearfix">
	<h2>
		<%= link_to post.title, post %><br>
		<%= image_tag(post.image_url) %><br>
		<small class="author">Submitted <%= time_ago_in_words(post.created_at) %> by 
			<% if post.user %>
			<%= post.user.name %></small>
			<% else %>
            <%= 'Unknown User' %>
			<% end %>
	</h2>
</div>
<% end %>
<%= will_paginate @posts %>