<!DOCTYPE html>
<html>
<head>
	<title>iFanfiction</title>
	<%= stylesheet_link_tag    'application',  media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<link rel="icon" href="https://static1.clutch.co/sites/default/files/logos/clutch_2.png">
</head>
<body>
	<header role="banner">
		<nav class="navbar navbar-expand-md navbar-light bg-white absolute-top">
			<div class="container">

				<button class="navbar-toggler order-2 order-md-1" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse order-3 order-md-2" id="navbar">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item dropdown active">
							<a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sort</a>
							<div class="dropdown-menu" aria-labelledby="dropdown02">
								<a class="dropdown-item" href="/top" data-turbolinks="false">Top</a>
								<a class="dropdown-item" href="/" data-turbolinks="false">Fresh</a>
							</div>
						</li>
					</ul>
				</div>

				<a class="navbar-brand mx-auto order-1 order-md-3" href="/" data-turbolinks="false">iFanficti☻n</a>

				<div class="collapse navbar-collapse order-4 order-md-4" id="navbar">
					<% if user_signed_in? -%>
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a class="nav-link" href=<%= new_post_path %>>Submit</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href=<%= edit_user_registration_path %>>Account</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href=<%= destroy_user_session_path %>>Sign out</a>
						</li>
					</ul>
					<% else -%>
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a class="nav-link" href=<%= new_user_session_path %>>Sign in</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href=<%= new_user_registration_path %>>Sign up</a>
						</li>
					</ul>
					<%end%>
				</div>
			</div>
		</nav>
	</header>

	<main class="main pt-4" role="main">
		<div class="container">
			<div id="main_content" class="container">
				<% flash.each do |name, msg| %>
				<%= content_tag(:div, msg, class: "alert alert-info") %>
				<% end %>
				<div class="row">
					<div class="col-md-9">

						<%= yield %>

					</div>
					<div class="col-md-3 ml-auto">
						<aside class="sidebar">
							<div class="card mb-4">
								<div class="card-body">
									<h4 class="card-title">About</h4>
									<p class="card-text">Fanfic - a story about the heroes of a famous film, books, anime, games, etc. Here you can publish your fanfic or original, get feedback, find co-authors and collect your army of fans! </p>
								</div>
							</div><!-- /.card -->
						</aside>

					</div>
				</div><!-- /.card -->
			</aside>
		</div>
	</div>
</main>

</div>

</body>
</html>